<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.theresearcher.spirokitfortab">

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SpiroKitTabApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpiroKitForTab"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".patient_input.PatientModifyActivity"
            android:exported="false" />
        <activity
            android:name=".patient_input.PatientInsertActivity"
            android:exported="false" />
        <activity
            android:name=".measurement.mvv.MeasurementMvvActivity"
            android:exported="false" />
        <activity
            android:name=".measurement.svc.MeasurementSvcActivity"
            android:exported="false" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".measurement.fvc.MeasurementFvcActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".join.ConditionAgreeActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".join.JoinUserActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape" />

        <service
            android:name=".bluetooth.SpiroKitBluetoothLeService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO" />
    </application>

</manifest>